.Tiers {
  position: relative;
  align-items: center;
  gap: 5ch;
  section {
    text-align: center;
  }
  header {
    text-transform: capitalize;
    align-self: stretch;
  }
  .Nav {
    display: flex;
    padding: 1ch;
    gap: 1ch;
    a {
      margin: 0 0.25ch;
      &.active {
        color: goldenrod;
        font-weight: 600;
        text-decoration: none;
      }
    }
  }
}
